<div ng-controller="CreateExamPlanController">
    <p>创建考试计划</p>
    <div class="bgo-panel">
        <div class="bgo-panel-title">
            <span>基本信息填写</span>
        </div>
        <form name="form" class="bgo-form" novalidate>
            <table>
                <thead>
                    <tr>
                        <th style="width: 20%"></th>
                        <th style="width: 30%"></th>
                        <th style="width: 20%"></th>
                        <th style="width: 30%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="form-title">考试名称：</td>
                        <td>
                            <input type="text" class="bgo-input" ng-model="param.test_name" placeholder="请填写考试名称" required>
                        </td>
                        <td class="form-title">考试时间：</td>
                        <td>
                            <input type="text" class="bgo-input" id="dpd1" placeholder="选择考试时间" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-title">年度：</td>
                        <td>
                            <select class="bgo-select" ng-model="param.annual" required>
                                <option value="">-- 请选择 --</option>
                                <option ng-repeat="t in yearSelect" ng-bind="t" ng-value="t | limitTo : 4"></option>
                            </select>
                        </td>
                        <td class="form-title">学期：</td>
                        <td>
                            <select class="bgo-select" ng-model="param.type" required>
                                <option value="">-- 请选择 --</option>
                                <option value="1">上学期</option>
                                <option value="2">下学期</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-title">年级：</td>
                        <td>
                            <select class="bgo-select" ng-model="s" ng-change="getSg(s)" ng-init="s = 0" required>
                                <option value="0">-- 请选择 --</option>
                                <option ng-repeat="s in listData.SchoolGrade" 
                                        ng-bind="s.yearStr" 
                                        value="{{ s }}"></option>
                            </select>
                        </td>
                        <td class="form-title">考试科目：</td>
                        <td style="position: relative;max-width: 200px;">
                            <span class="label label-info" ng-repeat="c in classArr track by $index" ng-bind="c.name" ng-if="!multShow" style="float: left;margin: 5px;"></span>
                            <div multiple-input list="sData.Course" ng-if="multShow"></div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3">
                            <button type="button" class="btn btn-primary bgo-button" ng-click="add()">添加</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>