<div ng-controller="RoleMgmtController">
    <p>模块配置</p>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="module-panel bgo-panel select">
                <ul>
                    <li>
                        <img src="app/img/module.png" alt="">
                    </li>
                    <li>
                        <dl>
                            <dt>基础模块</dt>
                            <dd>说明1</dd>
                            <dd>说明2</dd>
                        </dl>
                    </li>
                    <li style="float: right;">
                        <div>
                            <span class="select">✔ 已配置</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="module-panel bgo-panel">
                <ul>
                    <li>
                        <img src="app/img/module.png" alt="">
                    </li>
                    <li>
                        <dl>
                            <dt>考试模块</dt>
                            <dd>说明1</dd>
                            <dd>说明2</dd>
                        </dl>
                    </li>
                    <li style="float: right;">
                        <div>
                            <span>配置该模块</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>