<div ng-controller="QueryExamPlanController">
    <p>考试计划查询</p>
    <div class="bgo-panel">
        <!--<ul class="bgo-control clearfix">
            <li>
                考试年级：
                <select class="bgo-select" ng-model="s" ng-change="getSg(s)" ng-init="s = -1">
                    <option value="-1">-- 请选择 --</option>
                    <option ng-repeat="s in listData.SchoolGrade" 
                            ng-bind="s.yearStr" 
                            value="{{ s }}"></option>
                </select>
            </li>
            <li>
                年度：
                <select class="bgo-select" ng-model="param.annual" ng-init="param.annual = -1">
                    <option value="-1">-- 请选择 --</option>
                    <option ng-repeat="t in yearSelect" ng-bind="t" ng-value="t"></option>
                </select>
            </li>
            <li>
                学期：
                <select class="bgo-select" ng-model="param.type" ng-init="param.type = 0">
                    <option value="0">-- 请选择 --</option>
                    <option value="1">上学期</option>
                    <option value="2">下学期</option>
                </select>
            </li>
            <li>
                <button type="button" class="btn btn-primary bgo-button" ng-click="search()">查询</button>
            </li>
        </ul>-->
        <ul class="bgo-control clearfix">
            <li>
                考试类型：
                <select class="bgo-select" 
                        style="padding: 6px 12px;"
                        ng-change="getSelect(2, type)"
                        ng-model="type" 
                        ng-options="t.type as t.name for t in typeSel">
                    <option value="">-- 请选择 --</option>
                </select>
            </li>
            <li>
                <div class="bgo-search">
                    <input type="text" class="bgo-input" ng-model="param.test_name" style="padding: 5px 12px;" placeholder="请输入考试名称">
                    <button type="button" class="btn btn-primary bgo-button" style="padding: 5px 12px;" ng-click="search()">查询</button>
                </div>
            </li>
        </ul>
        <!--<scrollbar>-->
            <div style="overflow:auto;height: 400px">
                <table class="bgo-table" style="table-layout:fixed; word-break: break-all; word-wrap: break-word;">
                    <thead>
                        <tr>
                            <th>考试名称</th>
                            <!--<th>考试类型</th>-->
                            <th>考试单位</th>
                            <th>科目</th>
                            <th>考试时间</th>
                            <th>考号打乱</th>
                            <th>成绩上传</th>
                            <th>阅卷老师</th>
                            <th>创建时间</th>
                            <th style="width: 180px;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="!data.data" class="noData">
                            <td colspan="9">暂无数据</td>
                        </tr>
                        <tr ng-repeat="d in data.data">
                            <td>
                                <a ng-bind="d.test_name" ng-click="goPage(0, d.plan_id)"></a>
                            </td>
                            <!--<td>
                                <span ng-bind="d.type"></span>
                            </td>-->
                            <td>
                                <span ng-bind="d.gradeClass"></span>
                            </td>
                            <td>
                                <span class="label label-info" 
                                      style="margin: 0 5px 5px 0;cursor: pointer;float: left;"
                                      ng-repeat="c in d.course track by $index" 
                                      ng-bind="c.course_name"
                                      title="{{c.course_name + '&#10;' +
                                      '优：' + c.rate1 + '&#10;' +
                                      '良：' + c.rate2 + '&#10;' +
                                      '及：' + c.rate3 + '&#10;' +
                                      '差：' + c.rate4 + '&#10;' +
                                      '总：' + c.total + '&#10;' +
                                      '附：' + c.append}}"></span>
                            </td>
                            <td>
                                <span ng-bind="d.test_time * 1000 | date: 'yy-MM-dd'"></span>
                            </td>
                            <td>
                                <span ng-if="d.is_randnumber == 0" style="color: green;">是</span>
                                <span ng-if="d.is_randnumber == 1">否</span>
                            </td>
                            <td>
                                <div bgo-select val="{{ d.is_upload }}" list="bgoSelectList" means="setIsShow(d.plan_id)"></div>
                            </td>
                            <td>
                                <span ng-repeat="t in d.marking_teacher track by $index"
                                      ng-bind="t"
                                      style="margin-right: 5px;"></span>
                            </td>
                            <td>
                                <span ng-bind="d.add_time * 1000 | date: 'yy-MM-dd'"></span>
                            </td>
                            <td>
                                <button ng-show="d.type == '全校考试'" type="button" class="btn btn-info bgo-button" ng-click="goPage(1, d.plan_id)">统计</button>
                                <button ng-show="d.type == '年级考试'" type="button" class="btn btn-info bgo-button" ng-click="goPage(2, d.plan_id, d.grade_group)">统计</button>
                                <button type="button" class="btn btn-danger bgo-button" ng-click="remove(d.plan_id)">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9">
                                <div paging total-page="totalpage" current-page="current_page" get-data="getData()"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!--</scrollbar>-->
    </div>
</div>