<div ng-controller="SchoolRollController">
    <p>学籍查找</p>
    <div class="bgo-panel">
        <ul class="bgo-control clearfix">
            <li>
                <div class="bgo-search">
                    <form ng-submit="search()">
                        <input type="text" class="bgo-input" ng-model="param.tname" placeholder="请输入学生姓名">
                        <button type="submit" class="btn btn-primary bgo-button">查找</button>
                    </form>
                </div>
            </li>
        </ul>
        <!--<scrollbar>-->
        <div style="overflow: auto;height: 400px">
            <table class="bgo-table">
                <thead>
                    <tr>
                        <th>学籍号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年级</th>
                        <th>班级</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="!data.data.length" class="noData">
                        <td colspan="7">暂无数据</td>
                    </tr>
                    <tr ng-repeat="d in data.data">
                        <td ng-bind="d.study_no"></td>
                        <td ng-bind="d.tname"></td>
                        <td>
                            <span ng-if="d.sex == 1">男</span>
                            <span ng-if="d.sex == 2">女</span>
                        </td>
                        <td ng-bind="d.yearStr"></td>
                        <td ng-bind="d.name"></td>
                        <td>
                            <span ng-if="d.status == 1" style="color: #27C24C;">在读</span>
                            <span ng-if="d.status != 1" style="color: #f05050;">非在读</span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info bgo-button" ng-click="edit(d.student_id)" ng-if="roleItems.index_student_setstudent">编辑</button>
                            <button type="button" class="btn btn-primary bgo-button" ng-click="look(d.student_id)" ng-if="roleItems.index_student_setstudent">查看</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <div paging total-page="totalpage" current-page="current_page" get-data="getData()"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--</scrollbar>-->
    </div>
</div>