<div ng-controller="ScoreStatsAllController">
    <p>点击查询后生成统计数据</p>
    <div class="bgo-panel">
        <form name="filtSelect" novalidate>
            <ul class="bgo-control clearfix">
                <li>
                    考试计划：
                    <select class="bgo-select" 
                            ng-change="scoreData()"
                            ng-model="param.plan_id" 
                            ng-options="t.plan_id as t.test_name for t in selectData1"
                            required>
                        <option value="" ng-bind="selectData1 ? '-- 请选择 --' : '正在拉取数据..'"></option>
                    </select>
                </li>
            </ul>
        </form>
        <div class="inset-table" style="border: solid #E2E2E2;border-width: 1px 0 1px 0;padding: 10px 0;">
            <div ng-if="!data" class="noData">暂无数据</div>
            <div style="overflow: auto; height: 350px;">
                <div ng-if="data" ng-bind-html="data | to_trusted" style="width: 1500px;"></div>
            </div>
            <form ng-if="data" style="margin-top: 15px;" class="clearfix" action="http://schoolmsnew.thinktorch.cn/Index/Excelout/allSchoolSummary" method="post" style="display: inline-block;">                
                <input type="hidden" name="token" ng-value="param.token">
                <input type="hidden" name="plan_id" ng-value="plan_id">
                <input type="hidden" name="school_id" ng-value="param.school_id">
                <input type="hidden" name="is_html" ng-value="param.is_html">
                <input type="hidden" name="scoreAll2" ng-value="scoreAll">
                <button type="submit" class="btn btn-warning bgo-button-right" ng-click="download()">下载成绩表</button>
            </form>
        </div>
    </div>
</div>