<div ng-controller="StudentStatusMgmtController">
    <p>
        <a ui-sref="app.schoolRoll" ng-if="param.isEdit == 1 || param.isEdit == 0">学籍查找</a> 
        <a ui-sref="app.studentInfo" ng-if="param.isEdit == 2">学生信息</a> 
        > 学籍管理
    </p>
    <div class="bgo-panel">
        <div class="bgo-panel-title">
            <span ng-if="param.isEdit == 0">查看学籍</span>
            <span ng-if="param.isEdit == 1">修改学籍</span>
            <span ng-if="param.isEdit == 2">新增学籍</span>
        </div>
        <form name="form" class="bgo-form" novalidate>
            <table>
                <tbody>
                    <tr>
                        <td class="form-title">学籍号：</td>
                        <td>
                            <input type="text" class="bgo-input" ng-model="param.study_no" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-title">姓名：</td>
                        <td>
                            <input type="text" class="bgo-input" ng-model="param.tname" required>
                        </td>
                    </tr>
                    <tr ng-if="param.isEdit == 1 || param.isEdit == 0">
                        <td class="form-title">所在班级：</td>
                        <td>
                            <span ng-if="param.isEdit == 1 || param.isEdit == 0" ng-bind="param.yearStr + param.class_name"></span>
                            <!--<a ng-if="param.isEdit != 0" href="" ng-click="editClass()" ng-bind="!editClassType ? '如需修改请点击' : '取消修改'"></a>-->
                        </td>
                    </tr>
                    <tr ng-if="param.isEdit == 1 || param.isEdit == 0">
                        <td class="form-title">状态：</td>
                        <td>
                            <span>在读</span>
                            <input type="radio" name="status" ng-model="param.status" value="1" >
                            <!--<span>转班</span>
                            <input type="radio" name="sex" ng-model="param.sex" value="2">-->
                            <span>非在读</span>
                            <input type="radio" name="status" ng-model="param.status" value="3">
                        </td>
                    </tr>
                    <tr ng-if="editClassType">
                        <td></td>
                        <td>
                            <select class="bgo-select" ng-model="s" ng-change="getSg(s)">
                                <option value="">-- 请选择 --</option>
                                <option ng-repeat="s in searchData.SchoolGrade" 
                                        ng-bind="s.yearStr" 
                                        value="{{ s }}"></option>
                            </select>
                            <select class="bgo-select" ng-model="param.class_id" ng-init="param.class_id = t.class_id">
                                <option value="">-- 请选择 --</option>
                                <option ng-repeat="t in sData.Class" 
                                        ng-bind="t.name" 
                                        ng-value="t.class_id"></option>
                            </select>
                        </td>
                    </tr>
                    <tr ng-if="param.isEdit == 2">
                        <td class="form-title">年级：</td>
                        <td>
                            <span ng-bind="param.yearStr + param.class_name"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-title">性别：</td>
                        <td>
                            <div class="bgo-radio" ng-init="param.sex = 1">
                                <span>男</span>
                                <input type="radio" name="sex" ng-model="param.sex" value="1" >
                                <span>女</span>
                                <input type="radio" name="sex" ng-model="param.sex" value="2">
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="param.isEdit != 0">
                        <td></td>
                        <td>
                            <button class="btn btn-primary bgo-button" ng-click="add()">保存</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>